@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<p>
    thebookshelf.com website places special focus on maintaining their customers’
    privacy. We collect personal data to enhance customer experience and to
    improve our products and services. Following is information regarding how we
    use the collected data:
</p>
<ul>
    <li>
        <h2>
            The data which is collected
        </h2>
        <p>
            Data is collected in the following forms:
        </p>
        <ul>
            <li>
                Identity data – this includes your name, language, contact
                information, location, etc.
            </li>
            <li>
                Transaction details – this includes payment or card data, orders
                and returns, purchase history and details, etc.
            </li>
            <li>
                Geolocation data – If you interact with us using your phones,
                this data is collected.
            </li>
            <li>
                Commercial Information – If you have subscribed to our
                newsletter or promotional emailer.
            </li>
            <li>
                Preferences – this includes data pertaining to your tastes and
                preferences.
            </li>
            <li>
                Browser information and IP address
            </li>
        </ul>
        <p>
            When you are asked to fill your details, some fields will be marked
            compulsory as they are necessary for us to provide the products or
            services in question. If such data is not provided to us, the user
            may not be able to fully access or enjoy the required
            functionalities or services.
        </p>
    </li>
    <li>
        <h2>
            What the collected data is used for
        </h2>
        <p>
            Your data will be used by us primarily for managing your
            registration, processing your purchases of our products and
            services, responding to your queries and clearing your doubts, and,
            if the customer wishes, to send them customized communications.
        </p>
    </li>
    <li>
        <h2>
            Who the information is shared with
        </h2>
        <p>
            thebookshelf.com handles the personal data collected by the users with
            immense sensitivity and care. We safeguard all the personal
            information shared with us and only share it with third party
            service providers which help us in catering to your needs. Apart
            from this, your information is only shared when:
        </p>
        <ul>
            <li>
                The information is required by a reliable partner. In this case,
                the partner is obligated to agree to our terms and conditions
                along with signing of a confidentiality agreement.
            </li>
            <li>
                Required by the court of law. We will provide the demanded
                information asked of us in any legal processes pertaining to us.
            </li>
        </ul>
    </li>
    <li>
        <h2>
            Data integrity
        </h2>
        <p>
            The BookShelf collects and processes customers’ personal information in
            accordance with the privacy policy. We ensure that the data
            collected and processed by us is used only to provide efficient
            services to the customer. Therefore, we urge our users to provide
            accurate information while availing our services.
        </p>
    </li>
    <li>
        <h2>
            Personal Information
        </h2>
        <p>
            The functionality of this website requires the users to provide
            their contact information (phone number, email address, etc.) as
            well as their personal information (name, display picture, address,
            etc.). This collected user data is used solely to provide the users
            with effective customer service and to effectively market and to
            sell or deliver the property of sellers to buyers and to otherwise
            provide professional services to clients and customers. Indiawagon
            does not sell, transfer, exchange, trade, or disclose your personal
            information with any outside parties, except when we believe that
            the law requires it.
        </p>
    </li>
    <li>
        <h2>
            Security &amp; Confidentiality
        </h2>
        <p>
            Our systems are designed keeping in mind the security and privacy of
            the data that is shared with us.
        </p>
        <ul>
            <li>
                Encryption protocols and software’s are used while transmitting
                personal information.
            </li>
            <li>
                PCI DSS (Payment Card Industry Data Security Standard) is
                followed while handling credit card data.
            </li>
            <li>
                We offer additional security features on devices to safeguard
                against unauthorized access and loss of data.
            </li>
        </ul>
    </li>
    <li>
        <h2>
            Choices the customer has
        </h2>
        <ul>
            <li>
                Customers have the option to opt out of our newsletter and
                emailing services whenever they desire.
            </li>
            <li>
                They have the option to not provide certain information, but
                this might affect the customer experience.
            </li>
            <li>
                They can add or update previously provided information.
            </li>
            <li>
                They can adjust advertising preferences to stop seeing
                interest-based ads.
            </li>
            <li>
                They can choose to block or reject cookies and other identifiers
                on their browser or devices.
            </li>
        </ul>
    </li>
    <li>
        <h2>
            Terms of Use
        </h2>
        <p>
            We market and encourage the acquisition of our goods and services
            among adults or with their permission. Websites operated by
            The BookShelf are not intended for use by those under the age of 18
            (referred to as "Minors"). Children's privacy is of the utmost
            importance, and bookswagon.com is committed to abiding by all
            privacy laws made in India under Information Technology Act 2000 and
            Digital Personal Data Protection Act. Furthermore, we do not
            knowingly collect or solicit personal information from children
            under the age of 18 or knowingly allow such persons to register for
            an online account or to post personal information on our websites.
            If we find that someone under the age of 18 has provided any
            personal information to or on any of the The BookShelf websites, we
            will remove that information as soon as possible. On thebookshelf.com,
            which does not sell items for purchase by children, any products
            relating to children must be purchased by adults. We do allow adult
            content on The BookShelf, including images that may contain nudity or
            sexual activity. If any book contains such content, we mark it as
            adult content. All books marked as 'adult' will be placed behind an
            'adult content' warning interstitial. There can be books that may
            contain covers like child abuse materials, but as an unrealistic
            theme that is majorly used for knowledge purposes rather than
            encouraging it. Involvement from the user's parents or guardians is
            necessary if they are under 18. We may collect personal information
            such as your name, email address, shipping address, billing
            information, and contact details when you create an account, place
            an order, or contact us. We collect payment information when you
            make a purchase, including credit card details or other payment
            methods. We may store records of your interactions with us,
            including emails, chat messages, and customer support inquiries and
            all these data will not be misinterpreted in future or any kind of
            illegal act. To stay abreast of market expectations, we frequently
            need to make changes to our business. The notice will change as a
            result, and depending on the demands of our policy at the time, the
            data we gather today may change.
        </p>
    </li>
</ul>